<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Matricule </th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Status</th>
                        <th scope="col">ImageName</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.matriculeUser}}</td>
                        <td>{{user.nomUser}}</td>
                        <td>{{user.prenomUser}}</td>
                        <td>{{user.emailUser}}</td>
                        <td>{{user.telephoneUser}}</td>
                        <td>{{user.adresseUser}}</td>
                        <td>{{user.statusUser}}</td>
                        <td>{{user.imageName}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>